body {
    background-image: url("../images/fondo1.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

.pokemon {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.pokemon:hover,
.pokemon:active,
.pokemon:focus {
    -ms-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
    position: relative;
    z-index: 100;
}

/**Para que se vea bien en movil**/
@media only screen and (max-width: 768px) {
    ul.gallery {
        margin-left: 15vw;
        margin-right: 15vw;
    }

    /**Para que salga tocando en otro lugar en el movil**/
    .DivName {
        cursor: pointer
    }
}